# Carga de datos de varias fuentes
+ No siempre todo estara en un csv, escel o tabla SQL
+ En estos casos se debe mezclar las fuentes de forma coherente

In [2]:
import pandas as pd
import numpy as np

Exploracion de datos

In [3]:
data1_path = "../resources/python-ml-course/datasets/wine/winequality-red.csv"
data2_path = "../resources/python-ml-course/datasets/wine/winequality-white.csv"

df_red = pd.read_csv(data1_path, sep=";")
df_white = pd.read_csv(data2_path, sep=";")

In [3]:
df_red.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [4]:
df_white.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [7]:
df_red.columns.values

array(['fixed acidity', 'volatile acidity', 'citric acid',
       'residual sugar', 'chlorides', 'free sulfur dioxide',
       'total sulfur dioxide', 'density', 'pH', 'sulphates', 'alcohol',
       'quality'], dtype=object)

In [15]:
df_red.shape

(1599, 12)

In [8]:
df_white.columns.values

array(['fixed acidity', 'volatile acidity', 'citric acid',
       'residual sugar', 'chlorides', 'free sulfur dioxide',
       'total sulfur dioxide', 'density', 'pH', 'sulphates', 'alcohol',
       'quality'], dtype=object)

In [16]:
df_white.shape

(4898, 12)

In [9]:
df_red.columns.values == df_white.columns.values

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True])

In [10]:
df_red.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527821,0.270976,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.658149,10.422983,5.636023
std,1.741096,0.179060,0.194801,1.409928,0.047065,10.460157,32.895324,0.001887,0.154386,0.169507,1.065668,0.807569
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

In [11]:
df_white.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000
mean,6.854788,0.278241,0.334192,6.391415,0.045772,35.308085,138.360657,0.994027,3.188267,0.489847,10.514267,5.877909
std,0.843868,0.100795,0.121020,5.072058,0.021848,17.007137,42.498065,0.002991,0.151001,0.114126,1.230621,0.885639
min,3.800000,0.080000,0.000000,0.600000,0.009000,2.000000,9.000000,0.987110,2.720000,0.220000,8.000000,3.000000
25%,6.300000,0.210000,0.270000,1.700000,0.036000,23.000000,108.000000,0.991723,3.090000,0.410000,9.500000,5.000000
50%,6.800000,0.260000,0.320000,5.200000,0.043000,34.000000,134.000000,0.993740,3.180000,0.470000,10.400000,6.000000
75%,7.300000,0.320000,0.390000,9.900000,0.050000,46.000000,167.000000,0.996100,3.280000,0.550000,11.400000,6.000000
max,14.200000,1.100000,1.660000,65.800000,0.346000,289.000000,440.000000,1.038980,3.820000,1.080000,14.200000,9.000000

In [13]:
df_red.dtypes

fixed acidity           float64
volatile acidity        float64
citric acid             float64
residual sugar          float64
chlorides               float64
free sulfur dioxide     float64
total sulfur dioxide    float64
density                 float64
pH                      float64
sulphates               float64
alcohol                 float64
quality                   int64
dtype: object

In [14]:
df_white.dtypes

fixed acidity           float64
volatile acidity        float64
citric acid             float64
residual sugar          float64
chlorides               float64
free sulfur dioxide     float64
total sulfur dioxide    float64
density                 float64
pH                      float64
sulphates               float64
alcohol                 float64
quality                   int64
dtype: object

Se puede observar que los tipos de datos y los nombres de sus columnas son equivalentes, y a pesar que sean de categorias diferentes estas pueden distinguirse mediante una nueva columna categorica

## Unir datasets por filas
+ Axis 0 -> Horizontal o por filas
+ Axis 1 -> Vertical o por columnas

In [24]:
# Añadimos nueva caracteristica
blanco = ["White" for _ in range(df_white.shape[0])]
df_white = df_white.assign(color=blanco)
df_white.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,color
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6,White
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6,White
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6,White
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,White
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,White

In [25]:
rojo = ["Red" for _ in range(df_white.shape[0])]
df_red = df_white.assign(color=rojo)
df_red.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,color
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6,Red
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6,Red
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6,Red
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,Red
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,Red

Ahora podemos combinar ambos dataset sin perder la informacion de que color de vino es el detallado

In [4]:
df_wine = pd.concat([df_red, df_white], axis=0)
df_wine.shape

(6497, 12)

## Carga masiva de datos distribuidos

In [5]:
# en el repo del curso ubicamos distributed-data
dd_path = "../resources/python-ml-course/datasets/distributed-data/"

# Revisamos como exploracion primer dato
data_demo = pd.read_csv(dd_path+"001.csv")
data_demo.head()

         Date  sulfate  nitrate  ID
0  2003-01-01      NaN      NaN   1
1  2003-01-02      NaN      NaN   1
2  2003-01-03      NaN      NaN   1
3  2003-01-04      NaN      NaN   1
4  2003-01-05      NaN      NaN   1

In [7]:
data_demo.shape

(1461, 4)

Comprobando su estructura obtenemos los nombres de los archivos en el fichero, validamos que sea un csv(con os.path.sliptext o pathlib), y almacenamos los nombres en una lista

In [13]:
import os
from os.path import isfile, join, splitext
files_name = [f for f in os.listdir(dd_path) if isfile(join(dd_path,f)) and splitext(f)[1]==".csv"]
files_name

['001.csv',
 '002.csv',
 '003.csv',
 '004.csv',
 '005.csv',
 '006.csv',
 '007.csv',
 '008.csv',
 '009.csv',
 '010.csv',
 '011.csv',
 '012.csv',
 '013.csv',
 '014.csv',
 '015.csv',
 '016.csv',
 '017.csv',
 '018.csv',
 '019.csv',
 '020.csv',
 '021.csv',
 '022.csv',
 '023.csv',
 '024.csv',
 '025.csv',
 '026.csv',
 '027.csv',
 '028.csv',
 '029.csv',
 '030.csv',
 '031.csv',
 '032.csv',
 '033.csv',
 '034.csv',
 '035.csv',
 '036.csv',
 '037.csv',
 '038.csv',
 '039.csv',
 '040.csv',
 '041.csv',
 '042.csv',
 '043.csv',
 '044.csv',
 '045.csv',
 '046.csv',
 '047.csv',
 '048.csv',
 '049.csv',
 '050.csv',
 '051.csv',
 '052.csv',
 '053.csv',
 '054.csv',
 '055.csv',
 '056.csv',
 '057.csv',
 '058.csv',
 '059.csv',
 '060.csv',
 '061.csv',
 '062.csv',
 '063.csv',
 '064.csv',
 '065.csv',
 '066.csv',
 '067.csv',
 '068.csv',
 '069.csv',
 '070.csv',
 '071.csv',
 '072.csv',
 '073.csv',
 '074.csv',
 '075.csv',
 '076.csv',
 '077.csv',
 '078.csv',
 '079.csv',
 '080.csv',
 '081.csv',
 '082.csv',
 '083.csv',
 '084.csv',
 '085.csv',
 '086.csv',
 '087.csv',
 '088.csv',
 '089.csv',
 '090.csv',
 '091.csv',
 '092.csv',
 '093.csv',
 '094.csv',
 '095.csv',
 '096.csv',
 '097.csv',
 '098.csv',
 '099.csv',
 '100.csv',
 '101.csv',
 '102.csv',
 '103.csv',
 '104.csv',
 '105.csv',
 '106.csv',
 '107.csv',
 '108.csv',
 '109.csv',
 '110.csv',
 '111.csv',
 '112.csv',
 '113.csv',
 '114.csv',
 '115.csv',
 '116.csv',
 '117.csv',
 '118.csv',
 '119.csv',
 '120.csv',
 '121.csv',
 '122.csv',
 '123.csv',
 '124.csv',
 '125.csv',
 '126.csv',
 '127.csv',
 '128.csv',
 '129.csv',
 '130.csv',
 '131.csv',
 '132.csv',
 '133.csv',
 '134.csv',
 '135.csv',
 '136.csv',
 '137.csv',
 '138.csv',
 '139.csv',
 '140.csv',
 '141.csv',
 '142.csv',
 '143.csv',
 '144.csv',
 '145.csv',
 '146.csv',
 '147.csv',
 '148.csv',
 '149.csv',
 '150.csv',
 '151.csv',
 '152.csv',
 '153.csv',
 '154.csv',
 '155.csv',
 '156.csv',
 '157.csv',
 '158.csv',
 '159.csv',
 '160.csv',
 '161.csv',
 '162.csv',
 '163.csv',
 '164.csv',
 '165.csv',
 '166.csv',
 '167.csv',
 '168.csv',
 '169.csv',
 '170.csv',
 '171.csv',
 '172.csv',
 '173.csv',
 '174.csv',
 '175.csv',
 '176.csv',
 '177.csv',
 '178.csv',
 '179.csv',
 '180.csv',
 '181.csv',
 '182.csv',
 '183.csv',
 '184.csv',
 '185.csv',
 '186.csv',
 '187.csv',
 '188.csv',
 '189.csv',
 '190.csv',
 '191.csv',
 '192.csv',
 '193.csv',
 '194.csv',
 '195.csv',
 '196.csv',
 '197.csv',
 '198.csv',
 '199.csv',
 '200.csv',
 '201.csv',
 '202.csv',
 '203.csv',
 '204.csv',
 '205.csv',
 '206.csv',
 '207.csv',
 '208.csv',
 '209.csv',
 '210.csv',
 '211.csv',
 '212.csv',
 '213.csv',
 '214.csv',
 '215.csv',
 '216.csv',
 '217.csv',
 '218.csv',
 '219.csv',
 '220.csv',
 '221.csv',
 '222.csv',
 '223.csv',
 '224.csv',
 '225.csv',
 '226.csv',
 '227.csv',
 '228.csv',
 '229.csv',
 '230.csv',
 '231.csv',
 '232.csv',
 '233.csv',
 '234.csv',
 '235.csv',
 '236.csv',
 '237.csv',
 '238.csv',
 '239.csv',
 '240.csv',
 '241.csv',
 '242.csv',
 '243.csv',
 '244.csv',
 '245.csv',
 '246.csv',
 '247.csv',
 '248.csv',
 '249.csv',
 '250.csv',
 '251.csv',
 '252.csv',
 '253.csv',
 '254.csv',
 '255.csv',
 '256.csv',
 '257.csv',
 '258.csv',
 '259.csv',
 '260.csv',
 '261.csv',
 '262.csv',
 '263.csv',
 '264.csv',
 '265.csv',
 '266.csv',
 '267.csv',
 '268.csv',
 '269.csv',
 '270.csv',
 '271.csv',
 '272.csv',
 '273.csv',
 '274.csv',
 '275.csv',
 '276.csv',
 '277.csv',
 '278.csv',
 '279.csv',
 '280.csv',
 '281.csv',
 '282.csv',
 '283.csv',
 '284.csv',
 '285.csv',
 '286.csv',
 '287.csv',
 '288.csv',
 '289.csv',
 '290.csv',
 '291.csv',
 '292.csv',
 '293.csv',
 '294.csv',
 '295.csv',
 '296.csv',
 '297.csv',
 '298.csv',
 '299.csv',
 '300.csv',
 '301.csv',
 '302.csv',
 '303.csv',
 '304.csv',
 '305.csv',
 '306.csv',
 '307.csv',
 '308.csv',
 '309.csv',
 '310.csv',
 '311.csv',
 '312.csv',
 '313.csv',
 '314.csv',
 '315.csv',
 '316.csv',
 '317.csv',
 '318.csv',
 '319.csv',
 '320.csv',
 '321.csv',
 '322.csv',
 '323.csv',
 '324.csv',
 '325.csv',
 '326.csv',
 '327.csv',
 '328.csv',
 '329.csv',
 '330.csv',
 '331.csv',
 '332.csv']

In [14]:
len(files_name)

332

Ahora en un bucle recorremos el listado y vamos cargando y concatenando los datasets

In [16]:
df_full = pd.DataFrame()
for f in files_name:
    df_temp = pd.read_csv(dd_path+f)
    df_full = pd.concat([df_full,df_temp], axis=0)

df_full.shape

(772087, 4)

Lo anterior lo podemos convertir en una funcion como:

In [23]:
def df_from_directory(dir:str, type_file:str = "csv"):
    df_full = pd.DataFrame()
    files_name = [f for f in os.listdir(dir) if isfile(join(dir,f)) and splitext(f)[1]=="."+type_file]
    for f in files_name:
        df_temp = pd.read_csv(dir+f)
        df_full = pd.concat([df_full,df_temp], axis=0)

    return df_full

df_sensors = df_from_directory(dir=dd_path)
df_sensors.head()

         Date  sulfate  nitrate  ID
0  2003-01-01      NaN      NaN   1
1  2003-01-02      NaN      NaN   1
2  2003-01-03      NaN      NaN   1
3  2003-01-04      NaN      NaN   1
4  2003-01-05      NaN      NaN   1